.profile-wrapper {
    width:90%;
    height:100%;
    margin:auto;
    margin-top:60px;
}

.profile-header {
    width:240px;
    height:100%;
    background:white;
    width:100%;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    border-radius:5px;
}

.profile-header-picture{
    width:240px;
    height:180px;
    position:relative;
    top:20px;
    left:50%;
    margin-left:-80px;
}
.profile-picture {
    width:160px;
    height:160px;
}

.profile-picture img {
    border-radius:50%;
    border: solid 3px #999;
    width:160px;
    height:160px;
}

.profile-header-name {
    text-align: center;
    margin-bottom:20px;
    color:#999999;
}