.login-wrapper {
    position:absolute;
    left:50%;
    top:50%;
    width:350px;
    margin-left:-175px;
    height:500px;
    margin-top: -250px;
    padding:20px;

}

.input-wrapper {
    position:relative;
    display:inline;

}

.input-wrapper input{
    width:100%;
    margin-top:35px;
    height:50px;
    padding-left:60px;
    background:white;
    opacity: 20;
    border:none;
    border-radius:5px;
    color:#657380;
    font-size:16px;
}

::-webkit-input-placeholder {
    color: #657380;
}

:-moz-placeholder { /* Firefox 18- */
    color: #657380;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #657380;
}

:-ms-input-placeholder {
    color: #657380;
}

.input-wrapper input:invalid {
    box-shadow: none;
}

.input-wrapper input:focus {
    box-shadow: 0px 0px 0px 2px #84b1e6;
}

.login-button button {
    width:100%;
    margin-top:35px;
    height:50px;
    background: #84b1e6;
    border:none;
    color:ghostwhite;
    outline:none;
    border-radius:5px;
}

.login-button button:hover {
    background:#1a64cc;
    color:ghostwhite;
}

.login-logo {
    margin:0px auto 50px auto;
    width: 115px;;
    height:100px;
}

.login-helper {
    margin:10px auto;
    text-align:center;
}

.login-helper a {
    margin:10px auto;
    text-align:center;
}

.forgot-password-text {

}

.glyphicon.glyphicon-envelope {
    font-size: 25px;
    color:#657380;
}
.glyphicon.glyphicon-lock {
    font-size: 25px;
    color:#657380;
}

.glyphicon.glyphicon-user {
    font-size: 25px;
    color:#657380;
}

.input-wrapper .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    left:5px;
    top:-15px;

}
.password-warning {
    color:#d9534f;
    margin-top:10px;
}

