
@font-face {
    font-family:"Gotham-Rounded";
    src: url("Gotham-Rounded-Medium.ttf");
}

html {
    display:block;
    vertical-align: baseline;
}
body {
    display:block;
    vertical-align: baseline;
    overflow:auto;
    }

.not-logged-in-container {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height:100%;
}

.navigation {
    width: 100%;
    border-top: 0;
    height: 50px;
    background: black;
    position:fixed;
    z-index:100;
}

.glyphicon.glyphicon-th-large {
    font-size: 25px;
    color: white;
    position: relative;
}

.navigation-container .glyphicon{
    position: absolute;
    padding: 10px;
    left:5px;
}

.pop-down-menu {
    width:100%;
    height: 50px;
    background: #1a64cc;
    position: absolute;
    top:50px;
    left:0;
    z-index:1;
}

.snap-content {
    background:whitesmoke;
}

.nav-logo{
    height:32px;
    width:30px;
}

.navigation {
    background:whitesmoke;
    padding:10px 20px 10px 20px;
    width:100%;
}



.navigation li {
    list-style:none;
    display:block;
    float:left;
}
