<div class="login-wrapper">

    <div class="forgot-password-text">
       <h2> Please enter your email and you will receive instructions on resetting your password</h2>
    </div>

    <form id="forgot_password_form" ng-submit="check_email()">
        <div class="input-wrapper">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <input required id="email_block" type="email" name="email" placeholder="Email" ng-model="email">
        </div>
        <div class="login-button">
            <button type="submit" class="submit_button btn-default">SUBMIT</button>
        </div>
    </form>

    <div class="login-helper">
        <p><a ui-sref="login-view">login</a> | <a ui-sref="login-view">need help?</a></p>
    </div>


</div>