<div class="login-wrapper">

    <div class="login-logo">
        <ng-include src="'login/img/login-logo.svg'"></ng-include>
    </div>

    <form id="login_form" ng-submit="login()">
        <div class="input-wrapper">
            <input required id="email_block" type="email" name="email" placeholder="Email Address" ng-model="user.email">
            <span class="pic email"></span>
        </div>
        <div class="input-wrapper">
            <input required id="pw_block" type="password" name="password" placeholder="Password" ng-model="user.password">
            <span class="pic email"></span>
        </div>
        <div class="login-button">
            <button type="submit" class="submit_button btn-default">Sign In</button>
        </div>
    </form>

    <div class="login-helper">
        <p><a ui-sref="forgot-password">forgot password?</a> | <a ui-sref="login-view">need help?</a></p>
    </div>


</div>