<div class="login-wrapper">

    <div class="login-logo">
        <ng-include src="'login/img/login-logo4.svg'"></ng-include>
    </div>

    <form id="login_form" ng-submit="login()">
        <div class="input-wrapper">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <input required id="email_block" type="email" name="email" placeholder="EMAIL ADDRESS" ng-model="user.email">
        </div>
        <div class="input-wrapper">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <input required id="pw_block" type="password" name="password" placeholder="PASSWORD" ng-model="user.password">
        </div>
        <div class="login-button">
            <button type="submit" class="submit_button btn-default">LOG IN</button>
        </div>
    </form>

    <div class="login-helper">
        <p><a ui-sref="forgot-password">forgot password?</a> | <a ui-sref="sign-up-view">Sign Up</a></p>
    </div>


</div>