<div class="login-wrapper">


    <form id="login_form" ng-submit="signup()">
        <div class="input-wrapper">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <input required id="name_block" type="text" name="name" placeholder="FULL NAME" ng-model="user.name">
        </div>
        <div class="input-wrapper">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <input required id="email_block" type="email" name="email" placeholder="EMAIL ADDRESS" ng-model="user.email">
        </div>
        <div class="input-wrapper">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <input required id="pw_block" type="password" name="password" placeholder="PASSWORD" ng-model="user.password">
        </div>
        <div class="input-wrapper">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <input required id="cpw_block" type="password" name="confirm-password" placeholder="CONFIRM PASSWORD" ng-model="user.confirm_password">
        </div>
        <div class="login-button">
            <button type="submit" class="submit_button btn-default">SIGN UP</button>
        </div>
    </form>

    <div class="login-helper">
        <p><a ui-sref="login-view">login</a> | <a ui-sref="login-view">need help?</a></p>
    </div>


</div>