<div class="Schedule" data-ng-init="find()">
    <div class="round-list-container">
        <h3> League Schedule</h3>

        <div class="round-container" data-ng-repeat="round in league_rounds">
            <div class="date-box">
                <div class="date-box-month">
                    {{round.date | date:'MMM'}}
                </div>
                <div class="date-box-day">
                    {{round.date | date:'dd'}}
                </div>
            </div>
            <div class="round-info">
                <h4><a ng-href="#/league-round/{{round._id}}">{{round.name}}</a></h4>
            </div>
        </div>

        <h3> Add a new round</h3>

        <form name="roundForm" data-ng-submit="create()">
            <div class="input-wrapper">
                <input required id="date_block" type="date" name="date" placeholder="Date" ng-model="league_round.date">
            </div>
            <div class="input-wrapper">
                <input required id="name_block" type="text" name="name" placeholder="Round Name"
                       ng-model="league_round.name">
            </div>
            <div class="input-wrapper">
                <select required ng-model="league_round.course">
                    <option disabled selected> Select Course</option>
                    <option data-ng-repeat="course in courses" value="course._id">{{course.name}}</option>
                </select>
            </div>
            <div class="login-button">
                <button type="submit" class="submit_button btn-default">Submit</button>
            </div>
        </form>
    </div>

</div>