* {
    font-family: "Gotham-Rounded";
}

.Schedule{

    width:90%;
    min-height:100%;
    margin:auto;
    margin-top:60px;
}
.round-list-container {
    width:90%;
    margin:auto;
    background:black;
}

.round-list-container h3 {
    margin-bottom:20px;
}

.round-list{
    list-style:none;
    margin:0;
    padding:0;
}
.round-container{
    margin-bottom:20px;
    margin-left:20px;
}
.round-container * {
    display:inline;
}

.date-box {
    background:ghostwhite;
    width:90px;
    border-radius:5px;
    height:50px;
    margin-right:15px;
}

.date-box-month {
    background:#84b1e6;
    padding:5px;
    border-radius:5px 0px 0px 5px;
    text-align:center;
    color:ghostwhite;
    height:50px;
}

.date-box-day {
    padding:5px;
    background:ghostwhite;
    border-radius:0px 5px 5px 0px;
    text-align:center;
    height:50px;
}

.round-info {
}

.League-Round-Info-Wrapper {
    margin:auto;
    width:100%;
}

.League-Round-Info {
    margin:auto;
    width:100%;
    background:white;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    border-radius:5px;
    margin-bottom: 20px;
    padding:10px;

}

.Tee-Times {
    margin:auto;
    width:100%;
    background:white;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    border-radius:5px;
    margin-bottom: 20px;
    padding:10px;
}

.Tee-Time-Sign-Up {
    margin:auto;
    width:100%;
    background:#ffd466;
    border-radius:5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    padding:10px;
    color:#b28000;
}
.Tee-Time-Sign-Up button {
    margin-top:10px;
    margin-right:10px;
}

.Cant-Make-It {
    margin:auto;
    width:100%;
    background:#d9534f;
    border-radius:5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    padding:10px;
    color:white;
}

.Signed-Up {
    margin:auto;
    width:100%;
    background:#428bca;
    border-radius:5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    padding:10px;
    color:white;
}